.welcome-section .welcome-title{
  text-align: center;
  margin-top: 120px;
  font-weight: 700;
  font-size: 80px;
}

.welcome-section .welcome-text{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
  font-size: 40px;
}

.showcase-section h1{
  text-align: center;
}

.showcase-section{
  padding-top: 80px;
}
